{% extends "base.html" %}

{% block content %}
  {% if user.is_authenticated %}
  <h1>Hello! {{user.username}}</h1>
  <a href="{% url 'account' %}"><button type="button">Account</button></a>
  {% else %}
    {% if regform %}
      {% if regform.errors %}
          <p style="color: red;">
              Please correct the error{{ form.errors|pluralize }} below.
          </p>
      {% endif %}
      <form action="" method="post">
          {{regform.as_p}}
          {% csrf_token %}
          <input type="submit" value="Submit">
      </form>
    {% endif %}
    {% if logform %}
      {% if logform.errors %}
            <p style="color: red;">
                Please correct the error{{ form.errors|pluralize }} below.
            </p>
      {% endif %}
    <form action="" method="post">
        {{logform.as_p}}
        {% csrf_token %}
        <input type="submit" value="Submit">
    </form>
    {% endif %}
    
  {% endif %}
{% endblock %}