{% extends "base.html" %}

{% block content %}
  {% if user.is_authenticated %}
    {{user.username}} - {{user.email}} - {{user.userID}} - {{user.password}}
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
    <form enctype="multipart/form-data" action="" method="post">
        {{form.as_p}}
        {% csrf_token %}
      <input type="submit" value="Submit">
    </form>
  {% else %}
    <p>Please login</p>
  {% endif %}

{% endblock %}
